<!DOCTYPE html>
<html>
<head>
  <title>Librails</title>
  <%= stylesheet_link_tag    "librails/application", media: "all" %>
  <%= javascript_include_tag "librails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
